@model IEnumerable<CooperativaTres.Models.Funcion>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservar entrada</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaHorario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaHorario)
            </td>
            <td>
                <a asp-controller="AsientosXFuncion" asp-action="Index" asp-route-id="@item.Id">Reservar</a>
            </td>
        </tr>
}
    </tbody>
</table>
